<div class="container">
    <div class="row mt-2">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm navbar-dark bg-danger">
                <a class="navbar-brand" routerLink="/">Angular</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/products">List Products</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="mt-3">
        <router-outlet></router-outlet>
    </div>

</div>